<div class="container mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-6">
<h1 class="mb-4 text-center">Add a New Property</h1>
<div class="container"><%= render 'form' %></div>
  <div class="button mt-3 ms-2 mb-3 justify-content-center">
    <%= link_to 'Cancel', properties_path, class: 'btn btn-danger rounded btn-1' %>
</div>
