.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: 16px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}


.card-product .card-product-infos {
  padding: 16px;
}

.btn-with-black-border {
  border-color: black;
  // border-width: 1px;
}
