<%# TEST %>
<div class="m-4">
  <div class="container">
    <h1 class='mb-4'>Dashboard</h1>
    <h2 class='mb-4'>Properties that you own</h2>
  </div>
  <div class="m-4">
      <div class="container">
        <h2 class='mb-4'>Properties that you are renting</h2>
        </div>
      </div>
    </div>
  </div>
</div>
