@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handjet:wght@500&display=swap');
body {
  background-color: mediumaquamarine;
  font-weight: 200;
}

h1 {
  color: burlywood;
  text-align: center;
  font-size: 150 px;
  font-family: Handjet;
  line-height: normal;
}

h2 {
  color:black;
  text-align: center;
  font-size: 50 px;
  font-family: Handjet;
  line-height: normal;
}

h3 {
  color: black;
  text-align: center;
  font-size: 50 px;
  font-family: Dancing Script;
  line-height: normal;
}

ul {
  list-style: none;
  padding: 0;
}

li {
display: inline-block;
font-size: 100 px;
text-align: center;
color: violet;
text-decoration: none;
}
