@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handjet:wght@500&display=swap');
body {
  background-color: mediumaquamarine;
}

h1 {
  color: burlywood;
  font-size: 150 px;
  font-family: Handjet;
  line-height: normal;
}

h2 {
  color:black;
  font-size: 50 px;
  font-family: Handjet;
  line-height: normal;
}

h3 {
  color: mediumaquamarine;
  font-size: 30 px;
  font-family: Noto Sans Korean;
  line-height: normal;
}
