<% if jobs%>
  <% jobs.each do |job| %>
    <div class="job-listing d-flex justify-content-between container align-items-center custom-container-height rounded-md btn border-radius-containers my-2">
      <% if job.property.photo.attached? %>
        <%= cl_image_tag job.property.photo.key, class:"custom-image-width col-2" %>
      <% else %>
        <img src="https://www.thehousedesigners.com/images/uploads/SiteImage-Landing-modern-house-plans-1.webp" class="custom-image-width col-2" />
      <% end %>

      <% if session[:user_role] == "manager" %>
        <%= render partial: 'manager_job', locals: { job: job } %>
      <% else %>
        <%= render partial: 'cleaner_job', locals: { job: job } %>
      <% end %>
    </div>
  <% end %>
<% end %>
