body {
  background-color: #333;
}

.img-home-slide {
  width: 120px;
  height: 120px;
  animation: scrollRight 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 0.5px;
  padding: 2em;
}

@keyframes scrollRight {
  0% {transform: translateX(0);}
  100% {transform: translateX(-1000%)}
}
