
.chat-text {
  height: 100px;
  width: 300px;
  margin-left: 140px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // font: 1.5rem sans-serif;
  cursor: pointer;
  will-change: transform;
}

.avatar-margin {
  margin-left: 145px;
}

.chat-text::before,
.chat-text::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  background-color: black;
  transition: all 250ms ease-in-out;
}

.chat-text::before {
  width: 2px;
  height: 100px;
  box-shadow: 298px 0 black;
}

.chat-text::after {
  height: 2px;
  width: 300px;
  box-shadow: 0 98px black;
}

.chat-text:hover::before {
  left: -10px;
  box-shadow: 318px 0 black;
}

.chat-text:hover::after {
  top: -10px;
  box-shadow: 0 118px black;
}

.border-radius-containers {
  border-radius: 30px;
}












.chat-text-filters {
  height: 40px; /* Adjust the height as needed */
  width: 150px;
  margin-left: 140px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // font: 1.5rem sans-serif;
  cursor: pointer;
  will-change: transform;
  overflow: hidden;
}

.avatar-margin {
  margin-left: 145px;
}

.chat-text-filters::before,
.chat-text-filters::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  background-color: black;
  transition: all 250ms ease-in-out;
}

.chat-text-filters::before {
  width: 2px;
  height: 100px;
  box-shadow: 298px 0 black;
}

.chat-text-filters::after {
  height: 2px;
  width: 300px;
  box-shadow: 0 98px black;
}

.chat-text-filters:hover::before {
  left: -10px;
  box-shadow: 318px 0 black;
}

.chat-text-filters:hover::after {
  top: -10px;
  box-shadow: 0 118px black;
}

.border-radius-containers {
  border-radius: 30px;
}
