<h1>All Lists</h1>

<div id="lists">
<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
     <% end %>
    <p>
      <%= link_to "Show this list", list_path(list.id) %>
    </p>
  </ul>
</div>
