<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar"">

<div class="logo">
  <%= link_to jobs_path, class: "navbar-brand" do %>
      <%= image_tag "logonavbar.png", alt: "Le Wagon", width: 200 %>
  <% end %>
</div>

<div class="buttons"></div>

<div class="avatar"></div>

</div>
