<div class="notification">

 <%= cl_image_tag user.photo.key,  class:"avatar-large avatar-margin" %>
  <div class="notification-content">
    <%= simple_form_for(user, url: chatrooms_path, method: :post) do |form| %>
    <%= form.hidden_field :user_id, value: user.id %>
    <%= form.button :submit, user.first_name %>
  <% end %>
  </div>
</div>
