<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 20px; padding: 10px">
<h1><strong>Welcome to Connect & Clean</strong></h1>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
<h2> Where we connect cleaners</h2>
</div>

<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://media.istockphoto.com/id/496688546/pt/foto/maid-working-at-a-hotel.jpg?s=1024x1024&w=is&k=20&c=Gcck9nnqWuRMkuewVtcMMqf2lBMqocDTOrXr8gV0FNU=" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://media.istockphoto.com/id/1417833172/pt/foto/professional-cleaner-holding-a-basket-of-cleaning-products.jpg?s=1024x1024&w=is&k=20&c=SJjK2Vmsu1c4ci6NhhO2N5lTPU1IAYtcmd9yarVaZbY=" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://i.pinimg.com/originals/87/38/fe/8738fe8981eec492c71ecbad2677cf7a.jpg" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://media.gettyimages.com/id/1412697679/photo/mid-adult-man-disinfecting-bar-while-working-in-a-restaurant.jpg?s=612x612&w=gi&k=20&c=C2tuq9AolRg13qeN1jbXiqMUw9DqAlxmUD-HIAwJ5T0=" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://media.gettyimages.com/id/1417833200/photo/happy-professional-cleaners-cleaning-a-bathroom-at-an-apartment.jpg?s=612x612&w=gi&k=20&c=580BCC5e0wYetCLB0XhTavRbDz6mgYSZEHgxZPFVanU=" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYgxYL2SYrQY2nn1OvD2_vGhxvfBEOOyOA8ajLo6cDi2KwaJcEyfQJqr1YHhEjn_94M6Q&usqp=CAU" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://media.istockphoto.com/id/1417833128/pt/foto/professional-cleaner-vacuuming-a-sofa.jpg?s=1024x1024&w=is&k=20&c=KU5JVYRirnRc9vxLWaa-n2R8-xNCcPxKLTkLIyGwUaw=" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://c8.alamy.com/zooms/9/23913ea605ac4570902fa5b93615c592/2fnc3b8.jpg" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://previews.123rf.com/images/primagefactory/primagefactory2002/primagefactory200200112/140676908-smiling-young-asian-korean-guy-with-bucket-of-detergents-with-hands-in-rubber-protective-gloves.jpg" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://c8.alamy.com/comp/F31EFK/african-american-man-cleaning-toilet-at-home-F31EFK.jpg" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://c8.alamy.com/comp/DTGW1J/asian-man-cleaning-hardwood-floor-in-his-home-DTGW1J.jpg" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
<h2>To your homes</h2>
</div>
